html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -900;
}
div{
    z-index: 1000;
}

.page,
.page3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 100%;
}

.hs {
    height: auto;
    width: auto;
    background-color: #dbeafe;
    padding: 10px;
}

.hs h1 {
    color: rgb(28, 28, 28);
    font-size: 3rem;
    white-space: nowrap;
    text-transform: uppercase;
}