html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.footer-page {
    display: flex;
    justify-content: start;
    align-items: end;
    height: 80vh;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 30px;
}

.footer-page{
    /* background-color: red; */
    overflow: hidden;
    /* font-family: "Bebas Neue", sans-serif; */
    /* font-family: "Lilita One", sans-serif; */
    /* font-family: "New Amsterdam", sans-serif; */
    font-size: 12rem;
}
.sticker{
    position: absolute;
    pointer-events: none; 
    transform: translate(-50%, -50%); 
    z-index: -100;
}
.footer-names{
    position: relative;
    top: -90px;
}
.stickersDiv{
    /* position: relative; */
    overflow: hidden;
}