.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 13px;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.menu-icon span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #1d4ed8;
  border-radius: 2px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.menu-icon.open span:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px);
}

.menu-icon.open span:nth-child(2) {
  transform: rotate(-45deg) translate(4px, -4px);
}
