.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 15rem);
  width: 100vw;
  position: absolute;
  top: 7rem;
  left: 0;
  background-color: #fff;
  z-index: 10;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 0;
}