@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Alexandria:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: #dceeb1a8;
    color: #043000;
}

body {
    /* @apply bg-lightBeige;*/
    background-color: #fcfcfc;
    transition: background-color 0.5s ease-in-out;
}

.textInputBox {
    @apply mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 text-blue-700;
}

.labelText {
    @apply block text-sm font-medium text-blue-700
}

.btnSubmit {
    @apply w-full text-white mt-4 font-semibold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 bg-blue-500 hover:bg-blue-600 transition duration-700 ease-in-out;
}

.tableTd {
    @apply border border-slate-600 p-4
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
}

.back-to-top.hide {
    opacity: 0;
    visibility: hidden;
}

/* .table-bordered .ant-table-cell {
    border: 0.1px solid #475569 !important;
} */

/* .table-bordered .ant-table-cell {
    border: 2px solid #475569;
} */
/* .table-bordered .ant-table-tbody > tr > td {
    border: 4px solid #475569;
} */
.ant-table-wrapper table {
    border-collapse: collapse !important;
}



